*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color-white: #f5f5f5;
  --main-color-black: #000;
  --main-color-blue: #1e90ff;

  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 2.4rem;
  --font-size-xlarge: 3.2rem;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

}

html {
    font-size: 62.5%;
    font-family: 'Arial', sans-serif;
}

body {
 max-width: 1200px;
  margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    height: 5rem;
}

.banner {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 1rem;
    height: 5rem;
}

.banner h1{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    color: var(--main-color-blue);
     white-space: nowrap;    
}

.banner p{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
    color: var(--main-color-black);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    padding-left: calc(50% - 25px);
}

    .nav-menu {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, auto);
      grid-gap: 1rem;
      padding: 2rem 0;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 10rem);
        margin-top:5rem;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
            border:1px solid red;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
       /* margin: 2.5rem 0;*/
    }

    .nav-link{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    color: #475569;
}


.nav-logo {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: #482ff7;
}

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

  .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}    

.content {
  padding-top:10vh;
}
@media only screen and (min-width:768px){
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    width: 1200px;
    background-color: #fff;
}

.hamburger {
    display: none;
}

.nav-menu {
  all:unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.nav-item {
    padding: 1rem;  
    color: var(--main-color-blue);
}

.nav-item:hover{
    background-color: var(--main-color-blue);
    border-radius: 5px;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: var(--main-color-white);
    transition: 0.3s;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--main-color-blue)
}

}
