*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color-white: #f5f5f5;
  --main-color-black: #000;
  --main-color-blue: #1e90ff;
  --active-menu-bg-color: #f5f5f5;

  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 2.4rem;
  --font-size-xlarge: 3.2rem;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --content-max-width: 1200px;
}

html {
  font-size: 62.5%;
  font-family: 'Arial', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  height: 5rem;
}

.container {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.banner {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  height: 5rem;
}

.banner h1 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--main-color-blue);
  white-space: nowrap;
}

.banner p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  color: var(--main-color-black);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  padding-left: calc(50% - 25px);
  background-color: var(--main-color-white);
}

.nav-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  grid-gap: 2rem;
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  width: 100%;
  height: calc(55vh - 10rem);
  /*height: fit-content;*/
  margin-top: 5rem;
  text-align: center;
  transition: 0.3s;
  background-color: var(--active-menu-bg-color);
  z-index: 1;
  margin-bottom: 15rem;
  padding-bottom: 15rem;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  padding: .7rem 3rem;
  border: 1px solid var(--main-color-black);
  background-color: gainsboro;
  position: relative;
}

.nav-link {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  position: static;
}

.nav-item:after {
  content: "+";
  display: block;
  position: absolute;
  right: 3rem;
  top: 19px;
  transform: translateY(-50%);
  color: var(--main-color-blue);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  transition: 0.3s ease-in-out;
}

.nav-item:hover:after {
  content: "-";
}

.nav-logo {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--main-color-blue);
}

.subnav-content {
  display: none;
  position: static;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: all;
}

.subnav-content a {
  display: block;
  float: none;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  background-color: var(--main-color-blue);
  color: var(--main-color-white);
  border: 1px solid var(--main-color-white);
  margin-top: .3rem;
  pointer-events: none;
}

.nav-item:hover .subnav-content {
  display: block;
}

.subnav-content:hover .subnav-content-link {
  pointer-events: all;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-color-black);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding-top: 10vh;
  height: 150vh;
  left: -100%;
  transition: 0.3s ease-in-out;
}

.active-content {
  left: 0;
  background-color: var(--active-menu-bg-color);
}

@media only screen and (min-width:768px) {

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    max-width: var(--content-max-width);
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    all: unset;
    display: grid;
    grid-auto-flow: column;
    width: 80%;
  }

  .nav-item {
    color: var(--main-color-blue);
    border-radius: 5px;
  }

  .nav-item:hover {
    background-color: var(--main-color-blue);
  }

  .nav-link {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    color: var(--main-color-black);
    padding: 1rem;
  }

  .nav-link:hover {
    color: var(--main-color-white);
    transition: 0.3s ease-in-out;
  }

  .nav-item:after {
    display: none;
  }

  .subnav-content {
    display: none;
    position: absolute;
    background-color: var(--main-color-blue);
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: auto;
    font-size: var(--font-size-small);
    font-weight: var(--font-size-small);
    pointer-events: all;
  }

  .subnav-content-link {
    float: none;
    padding: 12px;
    display: block;
    text-align: left;
    background-color: var(--main-color-blue);
    color: var(--main-color-white);
  }

  .subnav-content-link:hover {
    background-color: var(--main-color-white);
    color: var(--main-color-blue);
  }

  .nav-item:hover .subnav-content {
    display: block;
  }

}